    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }
    /* header */
    
    .header {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .header .navbar .navbar-brand span {
        font-size: 35px;
    }
    
    .header .navbar .navbar-brand i {
        color: #35a22c;
        font-size: 40px;
    }
    
    .header .navbar-light .navbar-nav .nav-link {
        color: white;
        transition: 0.3s;
        position: relative;
        margin-right: 20px;
    }
    
    .header .navbar-light .navbar-nav .nav-link::before {
        display: block;
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        left: 0;
        bottom: -3px;
        background: #35a22c;
        transition: all 0.3s;
    }
    
    .header .navbar-light .navbar-nav .nav-link:hover::before {
        width: 100%;
    }
    
    .header .navbar-light .navbar-nav .nav-link:hover {
        color: #35a22c;
    }
    
    .header .navbar-light .navbar-nav .active>.nav-link {
        color: #35a22c;
    }
    
    .header .navbar-light .navbar-nav .active>.nav-link::before {
        color: #35a22c;
        width: 100%;
    }
    /* carousel */
    
    .carousel_bg {
        height: 100vh;
        object-fit: cover;
    }
    
    .carousel .carousel-indicators li {
        border-radius: 50%;
        height: 15px;
        width: 15px;
        margin-bottom: 50px;
    }
    
    .carousel .carousel-caption img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .carousel .carousel-caption {
        bottom: 30%;
    }
    
    .carousel .carousel-item::before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(39, 43, 54, 0.5);
        top: 0;
        left: 0;
    }
    
    .carousel-indicators li.active {
        background-color: #35a22c;
    }
    
    .carousel .carousel-caption h5 {
        font-size: 56px;
    }
    
    .carousel .carousel-caption p {
        font-size: 24px;
    }
    /* products */
    
    .products .nav-pills .nav-link {
        color: #1a1d2d;
        border: 1px solid #1a1d2d;
        margin: 0 5px;
    }
    
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: white;
        background-color: #35a22c;
        border-color: #35a22c;
    }
    
    .products .item__content {
        border-radius: 16px;
        overflow: hidden;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        height: 450px;
        text-align: center;
        cursor: pointer;
    }
    
    .products .item__content img {
        height: 300px;
        object-fit: cover;
    }
    
    .products .item__content .title {
        /* padding: 25px; */
        padding: 15px;
        height: 150px;
        border: 1px solid white;
        border-radius: 16px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        transition: 0.3s;
    }
    
    .products .item__content .title h3 {
        font-size: 1.25rem;
        font-weight: 400;
    }
    
    .products .item__content .title p {
        color: gray;
    }
    
    .products .item__content:hover .title {
        color: #35a22c;
        border-color: #35a22c;
        border-top-color: white;
    }
    /* feature */
    
    .feature {
        background: url(./image3/3.jpg) no-repeat center;
        background-size: cover;
        padding: 100px 0 120px;
        background-attachment: fixed;
        position: relative;
    }
    
    .feature .overlay {
        background: rgba(7, 10, 12, 0.72);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .feature .feature__heading {
        position: relative;
    }
    
    .feature__item {
        padding: 40px 40px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(30px);
        transition: all 0.5s;
    }
    
    .feature__item i {
        font-size: 48px;
        color: #35a22c;
    }
    
    .feature__item h4 {
        font-size: 20px;
        color: #fff;
        line-height: 30px;
        padding-top: 25px;
        font-weight: 700;
    }
    
    .feature__item p {
        padding-top: 15px;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
    }
    
    .feature__item:hover {
        background: #000;
        border-color: #fff;
    }
    /* award */
    
    .award {
        position: relative;
        color: #585858;
        padding: 70px 0;
    }
    
    .award__bg {
        background-image: url(./image3/memphis_3.png);
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 50% auto;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .award__left {
        background: rgba(255, 255, 255, 0.25);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        backdrop-filter: blur(3px);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
        padding: 35px;
    }
    
    .award__left p {
        color: #585858;
        line-height: 24px;
    }
    
    .award__left h2 {
        font-size: 36px;
        line-height: 42px;
        color: #1a1d2d;
        font-weight: 600;
    }
    
    .award__right {
        padding: 30px 0;
    }
    /* footer */
    
    footer {
        background: #222;
    }
    
    .footer__main i {
        width: 42px;
        height: 42px;
        line-height: 42px;
        border-radius: 50%;
        border: 1px solid #454545;
        transition: all 0.5s;
        margin: 10px;
        color: #6c757d;
    }
    
    .footer__main i:hover {
        color: #35a22c;
        border-color: #35a22c;
    }
    
    .footer__copies {
        border-top: 1px solid #454545;
        padding-top: 30px;
        margin-top: 30px;
    }
    
    .footer__copies a {
        color: #6c757d;
        text-decoration: none;
    }
    
    .footer__copies a:hover {
        color: #35a22c;
    }